@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .pathstyle {
    @apply pointer-events-auto fill-current text-black transition duration-1000 ease-in-out;
  }
}

:root {
  --primary: #1d1d1f;
  --secondary: #a9f927;
}

* {
  scrollbar-width: thin;
  scrollbar-color: var(--secondary) var(--primary);
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 15px;
}

*::-webkit-scrollbar-track {
  background: var(--primary);
}

*::-webkit-scrollbar-thumb {
  background-color: var(--secondary);
  border-radius: 14px;
  border: 3px solid var(--primary);
}
